@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


/* shared styles */
*{
    font-family: "Azeret Mono", monospace;
    margin: 0px;
    padding: 0px;
}

.text-color{
    color: #0D1321;
}

/* Header Section */

.bg-primary{
    background-image: url('../assets/Hero-bg.png');
    /* background-repeat: no-repeat;
    background-size: cover; */

}
.nav-section{
    display: flex;
    justify-content: space-between;
}

.nav-title{
    margin: 50px 0px 48px 150px;
    font-size: 28px;
    font-weight: 800;
}

.nav-button{
    margin: 38px 150px 36px 0px;
    font-weight: 600;
    font-size: 20;
    border: 1px solid #0D1321;
    border-radius: 8px;
    font-size: 600;
    font-size: 20px;
    padding: 17px 24px;
    background-color: white;
}
.nav-img-box{
    display: flex;
    justify-content: center;
    padding-top: 26px;
}
.nav-img{
    margin-bottom: 32px;
}
.nav-title-box{
    margin: auto;
    max-width: 998px;
    justify-content: center;
}
.nav-box-title{
    font-weight: 800;
    font-size: 48px;
    text-align: center;
    margin-bottom: 24px;
}
.nav-box-description{
    font-size: 16px;
    text-align: center;
    margin-bottom: 32px;
}
.nav-button-box{
    display: flex;
    justify-content: center;
}
.nav-box-button{
    background-color: #0D1321;
    border-radius: 8px;
    padding: 21px 24px;
    border: none;
    margin-bottom: 45px;
}
nav ul li, a {
    list-style: none;
    text-decoration: none;
}
nav div a {
    list-style: none;
    text-decoration: none; 
    color: white;
    font-size: 20px;
    font-weight: 600;
}


/* main section */
.main-content{
    max-width: 1140px;
    margin: auto;
}

.main-intro{
    max-width: 946px;
    margin: auto;
    padding-bottom: 80px;
}
.intro{
    background-color: rgba(13, 19 , 33, 0.02);
    padding-bottom: 48px;
}
.intro-title{
    font-weight: 800;
    font-size: 32px;
    margin-top: 154px;
    text-align: center;
}
.into-description{
    margin-top: 24px;
    font-size: 16px;
    color: #0D1321;
    text-align: center;
}
.one-contents{
    text-align: left;
    max-width: 477px;
    padding-bottom: 48px;
}
.content-one{
    padding-top: 48px;
    background-color: white;
}
.content-one-div{
    margin-top: 48px ;
    padding-bottom: 48px;
    display: flex;
    justify-content: space-between;
}
.one-title{
    padding-top: 20px;
    font-size: 24px;
    font-weight: 700;
    color: rgba(13, 19 , 33, 0.7);
}
.one-description{
    margin-top: 16px;
    font-size: 16px;
}
.one-button{
    background-color: white;
    margin-top: 32px;
    padding: 12px 20px;
    border: 1px solid #0D1321;
}
.one-a{
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: #0D1321;
    
}
.one-img{
    padding: 10px;
}
.content-two{
    background-color: white;
    margin-top: 32px;
    margin-bottom: 70px;
}
.content-two-div{
    margin-top: 48px;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 48px;
}
.two-contents{
    padding-top: 20px;
    margin-left: 32px;
    max-width: 468px;
    
}
.two-img{
    padding-top: 10.5px;
}
.content-three{
    background-color: white;
    margin-top: 32px;
    margin-bottom: 80px;
}
.three-contents{
    padding-top: 20px;
    text-align: left;
    max-width: 477px;
    padding-bottom: 48px;
}
.main-middle{
    max-width: 1140px;
    margin: auto;
    margin-top: 90px;

}
.middle-title{
    text-align: center;
    font-weight: 800;
    font-size: 32px;
    color: #0D1321;
}
.middle-contents{
    max-width: 852px;
    margin: auto;
}
.middle-description{
    text-align: center;
    margin-top: 24px;
    font-size: 16px;
    color: #0D1321;
}
.middle-video{
    display: flex;
    justify-content: center;
    padding: 32px;
    margin-top: 48px;
    border-radius: 16px;

}
iframe{
    border-radius: 16px;
    border: none;

}
.target{
    margin-top: 151px;
    max-width: 1140px;
}
.target-title{
    font-weight: 800;
    font-size: 32px;
    color: #0D1321;
    text-align: center;
    
}
.target-description{
    margin-top: 24px;
    font-size: 16px;
    color: #0D1321;
text-align: center;
}
.target-contents{
    margin-top: 48px;
}
.target-contents{
    display: flex;
    gap: 24px;
}
.target-content-one{
    padding: 40px;
    background-color: rgba(255, 76, 30, 0.05);
    border-radius: 16px;
    border: none;
}
.target-content-title{
    margin-top: 24px;
}
.target-content-two{
    background-color: rgba(0, 76, 232, 0.05);
    padding: 40px;
    border-radius: 16px;
    border: none;
}
.target-content-three{
    background-color: rgba(255, 223, 0, 0.05);
    padding: 40px;
    border-radius: 16px;
    border: none;
}
.target-content-link{
    margin-top: 24px;
    font-weight: 700;
    font-size: 16px;
    color: #0D1321;
    text-decoration: underline;
    
}
.target-content-description{
    margin-top: 8px;
    font-size: 16px;
}
.next-content-one{
    margin-top: 48px;
    border-radius: 16px ;
    border: .01px solid #000000;
    padding: 40px;
    display: flex;
    margin-bottom: 0px;
}
.next-content-two{
    border-radius: 16px ;
    border: .01px solid #000000;
    padding: 40px;
    display: flex;
    margin-top: 0px;
}
.next-content-img-one{
    height: 108px;
    width: 94.7px;
}
.next-content-img-two{
    height: 88px;
    width: 143.5px;
}
.next-content-img-three{
    height: 108px;
    width: 108px;
}
.next-contents{
    display: flex;
    gap: 24px;
    flex-direction: column;
}
.target-button{
    margin-top: 24px;
    
}
.next-div-two{
    margin-left: 24px;
}
.next-content-title{
    font-size: 24px;
    font-weight: 800;   
    color: #0D1321;
}
.next-content-description{
    font-size: 16px;
    color: #0D1321;
    margin-top: 8px;
}
.support{
    margin-top: 49px;
    background-image: url('../assets/handshake.jpg');
    background-position: center;
    background-size: cover;
    width: 1140px;
    background-repeat: no-repeat;
    border-radius: 16px;
    border: none;
    margin-bottom: 80px;
    
}
.need-support{
    padding: 64px 48px;
}
.support-title{
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
    text-align: center;
}
.support-description{
    margin-top: 16px;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
}
.feedback{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 24px;
}
input[type="text"]{
    padding: 19px 215px 19px 20px;
    text-align: left;
    font-size: 16px;
    border: none;
    border-radius: 8px;
}
input[type="button"]{
    cursor: pointer;
    color: #000000;
    border: none;
    border-radius: 8px;
    margin-left: 16px;
    padding: 17px 20px;
    text-align: left;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
}
footer{
    margin: auto;
    background-color: rgba(13, 19, 33, 0.03);
    display: flex;
    justify-content: center;
}
.footer-items{
    max-width: 1140px;
    padding: 32px 0px 32px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-title{
    margin: 6.5px 420px 0px 0px;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
}
.footer-img{
    height: 36px;
    width: 36px;
}
.footer-img-two{
    margin: 0px 24px 0px 24px;
    height: 36px;
    width: 36px;
}
.footer-logos{
    text-align: right;
}
footer a{
    text-decoration: none;
}